SQLSERVER_DB=dengue_peru
SQLSERVER_USER=sa
SQLSERVER_PASSWORD=DenguePass_2026!
SQLSERVER_HOST=sqlserver
SQLSERVER_PORT=1433
SQLSERVER_DRIVER=ODBC Driver 18 for SQL Server
CSV_PATH=./datos_abiertos_vigilancia_dengue_2000_2024.csv
CHUNK_SIZE=50000
