__pycache__/
.pytest_cache/
.venv/
.env
.DS_Store

build/
dist/
*.egg-info/

.mypy_cache/
.ruff_cache/

mssql_data/
reports/figures/*.png
reports/executive_summary.md

datos_abiertos_vigilancia_dengue_2000_2024.csv
